.Xil/
.nfs*
.vscode/
.DS_Store
*.sw[a-p]
*~
*.bak

*.RTL.v

obj_dir/
a.out

*.o
*.elf
*.bin
*.hex
*.dump

log/
*.vcd
*.fst

*.txt
*.log
*.diff

vivado/
*.jou
*.log
*.str
*.cache
*.hw
*.runs
*.sim
*.ip_user_files

*.cpio*
*.dtb
pytest/
__pycache__/
*.pyc
.venv/
image
.memo/