# SPDX-License-Identifier: GPL-2.0

BR2_riscv=y
BR2_riscv_custom=y
BR2_RISCV_ISA_RVM=y
BR2_RISCV_ISA_RVA=y
BR2_RISCV_32=y
BR2_BINUTILS_VERSION_2_45_X=y
BR2_GCC_VERSION_15_X=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TOOLCHAIN_BUILDROOT_FORTRAN=y
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_RVCOMP_PATH)/patches"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_RVCOMP_PATH)/rootfs_overlay"
# BR2_PACKAGE_OPENSSH is not set
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_E2FSCK=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_RVCOMP_PATH)/kernel/mmc/defconfig"
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(BR2_EXTERNAL_RVCOMP_PATH)/scripts/post_image_script.sh"
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_OPENSBI=y
BR2_TARGET_OPENSBI_CUSTOM_GIT=y
BR2_TARGET_OPENSBI_CUSTOM_REPO_URL="https://github.com/archlab-sciencetokyo/opensbi.git"
BR2_TARGET_OPENSBI_CUSTOM_REPO_VERSION="1.8.1-rvcomp"
BR2_TARGET_OPENSBI_PLAT="rvcpu"
# BR2_TARGET_OPENSBI_INSTALL_DYNAMIC_IMG is not set
# BR2_TARGET_OPENSBI_INSTALL_JUMP_IMG is not set
BR2_TARGET_OPENSBI_INSTALL_PAYLOAD_IMG=y
BR2_TARGET_OPENSBI_ADDITIONAL_VARIABLES="FW_PAYLOAD_PATH=$(BINARIES_DIR)/Image"
BR2_PACKAGE_RVCOMP_ETHERNET=y
BR2_PACKAGE_RVCOMP_MMC=y
BR2_PACKAGE_RVCOMP_CAMERA=y
BR2_PACKAGE_RVCOMP_CAMTX=y
